---
title: Pendaftar Hibah
layout: info
---

  <!-- jPages -->
  <script src= "/static/js/jPages.js"></script>
  <script src= "/static/js/js.js"></script>
  <!--<script id= "dsq-count-scr" src="//jalpc.disqus.com/count.js" async></script>-->
  <script>
	/* when document is ready */
	$(function() {
		/* initiate plugin */
		$("#holder").jPages({
			containerID : "itemContainer",
			perPage : 9,
			startPage: 1,
			startRange: 1,
			midRange: 3,
			endRange: 1
		});

		$("#holder2").jPages({
			containerID : "itemContainer2",
			perPage : 9,
			tartPage: 1,
			startRange: 1,
			midRange: 3,
			endRange: 1
		}); 

		$("#holder3").jPages({
			containerID : "itemContainer3",
			perPage : 9,
			startPage: 1,
			startRange: 1,
			midRange: 3,
			endRange: 1
		}); 

		$("#holder4").jPages({
			containerID : "itemContainer4",
			perPage : 9,
			startPage: 1,
			startRange: 1,
			midRange: 3,
			endRange: 1
		}); 
	});
  </script>
  <!-- jPages -->

<div class="container">

    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Pendaftar Hibah</h1>
        </div>
    </div>
    	
<ul class="nav nav-pills nav-justified">
  <li class="active"><a data-toggle="pill" href="#semua">Semua</a></li> 
  <li><a data-toggle="pill" href="#hardware">Perangkat Keras</a></li> 
  <li><a data-toggle="pill" href="#software">Perangkat Lunak</a></li> 
  <li><a data-toggle="pill" href="#konten">Produksi dan Penyampaian Konten</a></li>
</ul>
	
<div class="tab-content">
	<!--semua-->
	<div id="semua" class="tab-pane fade in active">
	<div class="row">
    	<br/>
	<ul id="itemContainer" style="list-style:none;">
	{% for hibah in site.data.hibah %}
	{% assign loopindex = forloop.index | modulo: 3 %}
	<li>
    	<div class="col-md-4">
             <div class="col-md-12 well well-lg">
		<a href="{{ hibah.link }}"><img class="img-responsive center-block" src="{{ hibah.gambar }}"></a>
                <hr>
		<a href="{{ hibah.link }}"><h4>{{ hibah.nomor }} - {{ hibah.judul | truncatewords: 10 }}</h4></a><br/>
                {{ hibah.deskripsi | truncatewords: 20 }}
		<hr>
		<i class="fa fa-map-marker" aria-hidden="true"></i> {{ hibah.lokasi }}
              </div>
    	</div>
	{% if loopindex == 0 %}
		<div class="clearfix visible-md visible-lg"></div>
	{% endif %}
	{% endfor %}
    </li>
    </ul>
    <div class="row m-b-lg text-center">
    	<div class="col-md-12">
        	<div class="pag-holder" id="holder"></div>
    	</div>
	</div>
	</div>
	</div>

	<!--hardware-->
	<div id="hardware" class="tab-pane fade active">
	<div class="row">
    	<br/>
    <ul id="itemContainer2" style="list-style:none;">
    {% for hibah in site.data.hibah %}
    {% if hibah.tipe == 'hardware' %}
	{% assign counter-hard = counter-hard | plus: 1 %}
    <li>
    	<div class="col-md-4">
             <div class="col-md-12 well well-lg">
		<a href="{{ hibah.link }}"><img class="img-responsive text-center" src="{{ hibah.gambar }}"></a>
                <hr>
		<a href="{{ hibah.link }}"><h4>{{ hibah.nomor }} - {{ hibah.judul | truncatewords: 10 }}</h4></a><br/>
                {{ hibah.deskripsi | truncatewords: 20 }}
		<hr>
		<i class="fa fa-map-marker" aria-hidden="true"></i> {{ hibah.lokasi }}
              </div>
    	</div>
	{% assign ifindex = counter-hard | modulo: 3 %}
	  {% if ifindex == 0 %}
		<div class="clearfix visible-md visible-lg"></div>
  	  {% endif %}
	{% endif %}
    {% endfor %}
    </li>
    </ul>
    <div class="row m-b-lg text-center">
    	<div class="col-md-12">
        	<div class="pag-holder" id="holder2"></div>
    	</div>
	</div>
	</div>
	</div>

	<!--software-->
	<div id="software" class="tab-pane fade active">
	<div class="row">
    	<br/>
    <ul id="itemContainer3" style="list-style:none;">
    {% for hibah in site.data.hibah %}
    {% if hibah.tipe == 'software' %}
	{% assign counter-soft = counter-soft | plus: 1 %}
    <li>
    	<div class="col-md-4">
             <div class="col-md-12 well well-lg">
		<a href="{{ hibah.link }}"><img class="img-responsive text-center" src="{{ hibah.gambar }}"></a>
                <hr>
		<a href="{{ hibah.link }}"><h4>{{ hibah.nomor }} - {{ hibah.judul | truncatewords: 10 }}</h4></a><br/>
                {{ hibah.deskripsi | truncatewords: 20 }}
		<hr>
		<i class="fa fa-map-marker" aria-hidden="true"></i> {{ hibah.lokasi }}
              </div>
    	</div>
	{% assign ifindex = counter-soft | modulo: 3 %}
	  {% if ifindex == 0 %}
		<div class="clearfix visible-md visible-lg"></div>
  	  {% endif %}
	{% endif %}
    {% endfor %}
    </li>
    </ul>
    <div class="row m-b-lg text-center">
    	<div class="col-md-12">
        	<div class="pag-holder" id="holder3"></div>
    	</div>
	</div>
	</div>
	</div>
	
	<!--konten-->
	<div id="konten" class="tab-pane fade active">
	<div class="row">
    	<br/>
    <ul id="itemContainer4" style="list-style:none;">
    {% for hibah in site.data.hibah %}
    {% if hibah.tipe == 'konten' %}
	{% assign counter-kont = counter-kont | plus: 1 %}
    <li>
    	<div class="col-md-4">
             <div class="col-md-12 well well-lg">
		<a href="{{ hibah.link }}"><img class="img-responsive text-center" src="{{ hibah.gambar }}"></a>
                <hr>
		<a href="{{ hibah.link }}"><h4>{{ hibah.nomor }} - {{ hibah.judul | truncatewords: 10 }}</h4></a><br/>
                {{ hibah.deskripsi | truncatewords: 20 }}
		<hr>
		<i class="fa fa-map-marker" aria-hidden="true"></i> {{ hibah.lokasi }}
              </div>
    	</div>
	{% assign ifindex = counter-kont | modulo: 3 %}
	  {% if ifindex == 0 %}
		<div class="clearfix visible-md visible-lg"></div>
  	  {% endif %}
	{% endif %}
    {% endfor %}
    </li>
    </ul>
	<div class="row m-b-lg text-center">
    	<div class="col-md-12">
        	<div class="pag-holder" id="holder4"></div>
    	</div>
	</div>
	</div>
	</div>

</div>
</div>
