---
author: cms
---

{% assign author = site.data.authors[page.author] %}
<div class="container" id="i18_tentang">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="tentang.tentang">Tentang Kami</span></h1>
        </div>
    </div>
    <div class="row">
        
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="fa fa-deaf"></i>
                </div>
            </div>
        </div>
        
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="fa fa-users"></i>
                </div>
            </div>
        </div>
        
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ author.head_img | prepend: site.baseurl }}" height="110" width="110" class="img-responsive" alt="">
                <h4><span class="navy">{{ author.name }}</h4>
            </div>
        </div>
        
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="fa fa-globe"></i>
                </div>
            </div>
        </div>
        
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="fa fa-heartbeat"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="tentang.des"><h1>{{ author.desc }}</h1></span></p>
            <p>Website ini bertujuan untuk Membangun literasi teknologi seluler. Literasi teknologi ditandai dengan kemampuan pengguna (secara individu maupun kelompok) dalam menggunakan teknologi seluler secara mandiri, bertanggung jawab, tepat guna dan efektif untuk mengakses, mengelola, mengevaluasi, memproduksi dan menyampaikan informasi. Menjembatani kolaborasi antar pihak yang memiliki kompetensi, minat dan kebutuhan pada inisiatif-inisiatif perubahan sosial melalui teknologi seluler di Indonesia.</p>
        </div>
    </div>
</div>
