{% assign author = site.data.authors[page.author] %}
<div class="container" id="i18_tentang">

    <div class="row">
        <div class="col-lg-4 zoomIn text-center">
            <img src="/static/img/landing/cms-placeholder.jpg" width="200" class="img-responsive center-block" alt="">
        </div>
        <div class="col-lg-8 zoomIn text-left">
            <h1><span class="navy"><a href="/tentangcms.html">Cipta Media Seluler</a></span></h1>
            <h2>Media interaksi dan pembelajaran bersama tentang pemanfaatan teknologi seluler untuk perubahan sosial</h2>
            <p>Cipta Media Seluler adalah hibah terbuka yang mengajak individu, komunitas, atau organisasi memunculkan inisiatif-inisiatif untuk perubahan sosial yang lebih adil melalui penggunaan teknologi seluler. Hibah terbuka ini menyediakan dukungan dana sebesar 750 ribu dolar AS bagi inisiatif-inisiatif teknologi seluler terbaik yang dapat dimodifikasi dan dicontoh untuk diterapkan di daerah lain.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 zoomIn text-right">
            <h1><span class="navy"><a href="/tentangcmb.html">Cipta Media Bersama</a></span></h1>
            <h2>Meretas batas – kebhinekaan bermedia</h2>
            <p>Cipta Media Bersama adalah hibah terbuka yang mengajak individu atau organisasi memunculkan ide baru dan segar dalam praktek bermedia yang mampu membuat perbaikan media di Indonesia. Hibah terbuka ini menyediakan dukungan sebesar satu juta dolar AS bagi inisiatif-inisiatif yang dapat menjadi contoh praktek terbaik dalam kebhinekaan, kesetaraan, kebebasan dan etika bermedia.</p>
        </div>
        <div class="col-lg-4 zoomIn text-center">
            <img src="/static/img/landing/Logo_Cipta_Media_Bersama.jpg" width="200" class="img-responsive center-block" alt="">
        </div>
    </div>

</div>
