<div class="container"
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="proyek.proyek">Proyek Terdahulu</span></h1>
        </div>
    </div>
    
    <div class="row m-b-lg">
        <div class="col-md-4 text-center">
            <a href="/ciptamediaseluler/tentangcms.html"><img src="/static/img/landing/cms-placeholder.jpg" class="img-responsive center-block" alt="" style="max-height: 350px;"></a>
        </div>
        <div class="col-md-8">
            <a href="/ciptamediaseluler/tentangcms.html"><h1>Cipta Media Seluler</h1></a>
            <h2>Media interaksi dan pembelajaran bersama tentang pemanfaatan teknologi seluler untuk perubahan sosial</h2>
            <p>Cipta Media Seluler adalah hibah terbuka yang mengajak individu, komunitas, atau organisasi memunculkan inisiatif-inisiatif untuk perubahan sosial yang lebih adil melalui penggunaan teknologi seluler. Hibah terbuka ini menyediakan dukungan dana sebesar 750 ribu dolar AS bagi inisiatif-inisiatif teknologi seluler terbaik yang dapat dimodifikasi dan dicontoh untuk diterapkan di daerah lain. <a href="/ciptamediaseluler/tentangcms.html">Selengkapnya...</a></p>
            <div class="row m-b-lg">
                <div class="col-xs-12">
                    <button class="btn btn-danger" data-toggle="collapse" data-target="#cms">Penerima Hibah</button>
                    <a href="/ciptamediaseluler/hibahcms-semua.html" class="btn btn-danger">Pendaftar Hibah</a> 
                    <div class="row">
                        <div id="cms" class="collapse">
                            <br/>
                            {% for project in site.data.projects %}
                            <div class="col-sm-3 col-xs-6">
                                <a href="{{ project.url | prepend: 'http://wiki.ciptamedia.org/wiki' }}" target="blank"><button class="btn btn-white btn-xs" type="button" style="margin-top: 5px;"><b>{{ project.name }}</b></button></a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row m-b-lg">
        <div class="col-sm-4 col-sm-push-8 text-center">
            <img src="/static/img/landing/Logo_Cipta_Media_Bersama.jpg" class="img-responsive center-block" alt="" style="max-height: 350px;">
        </div>
        <div class="col-sm-8 col-sm-pull-4">
            <h1>Cipta Media Bersama</h1>
            <h2>Meretas batas – kebhinekaan bermedia</h2>
            <p>Cipta Media Bersama adalah hibah terbuka yang mengajak individu atau organisasi memunculkan ide baru dan segar dalam praktek bermedia yang mampu membuat perbaikan media di Indonesia. Hibah terbuka ini menyediakan dukungan sebesar satu juta dolar AS bagi inisiatif-inisiatif yang dapat menjadi contoh praktek terbaik dalam kebhinekaan, kesetaraan, kebebasan dan etika bermedia.</p>
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" class="btn btn-danger">Penerima Hibah</a> 
                    <a href="#" class="btn btn-danger">Pendaftar Hibah</a> 
                </div>
            </div>
        </div>
    </div>
</div>
