---
title: Tim Kami
layout: info
---

{% include card.html %}
<div class="container">

    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="tentang.tentang">Tim Kami</span></h1>
        </div>
    </div>

    <div class="row m-b-lg">
        <br/>
        {% for member in site.data.members %}
        {% assign counter = counter | plus: 1 %}
        <div class="col-md-3 m-b-lg">

            <div class="row">
                <!-- Card Projects -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-image">
                            <a href="{{ member.halaman }}"><img class="img-responsive" src="{{ member.foto }}"></a>
                        </div>
                        
                        <div class="card-content" style="height:170px;">
                            <a href="{{ member.halaman }}"><h2>{{ member.name }}</h2></a>
                            <br/>
                            {% for member in member.posisi %}
                                <h4>{{ member }}</h4>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
            {% assign ifindex = counter | modulo: 4 %}
            {% if ifindex == 0 %}
                <div class="clearfix visible-md visible-lg"></div>
            {% endif %}
        {% endfor %}
    </div>

</div>

