<footer class="footer" style="background-color: #efefef">
    <div class="container">
        <nav class="pull-left">
            {% include social.html %}
        </nav>
        <div class="copyright pull-right">
            <a href="https://creativecommons.org/licenses/by/4.0/deed.id"><h3>Cipta Media | CC BY 4.0</h3></a>
        </div>
    </div>
</footer>
<!-- script -->
<script src= "/static/js/bootstrap.min.js"></script>
<script src= "/static/js/material.min.js"></script>
<script src= "/static/js/material-kit.js"></script>
<script src= "/static/js/nouislider.min.js"></script>
