<section class="gray-section" style="margin-top: 0px; background-color: #efefef;">
<div class="container">    
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">  
            <div class="navy-line"></div>
        </div>
    </div>
    
    <div class="row m-b-lg">
      <div class="col-md-2">
            <a href="#"><h3>Organisasi</h3></a>
      </div>
      <div class="col-md-2">
            <a href="/timkami.html"><h3>Tim Kami</h3></a>
      </div>
      <div class="col-md-2">
            <a href="/kontak.html"><h3>Kontak</h3></a>
      </div>
      <div class="col-md-2">
            <a href="/faq.html"><h3>FAQ</h3></a>
      </div>
      <div class="col-md-2">
            <a href="#"><h3>Kebijakan Privasi</h3></a>
      </div>
      <div class="col-md-2">
          <div class="pull-right">
              <ul class="list-inline">
                <li><a href="https://twitter.com/wikimediaid"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="https://www.facebook.com/wikimedia.indonesia"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCYcchZfFm34fcFbP-XT5MSw"><i class="fa fa-youtube-play fa-2x"></i></a></li>
              </ul>
          </div>
      </div>
    </div>
<hr>
    <div class="row m-b-lg">
      <div class="col-md-12 text-center">
        <span class="copyright"><a href="/disclaimer.html" style="color:#166df0;">Lisensi Konten Terbuka</a></span>
      </div>
    </div>
</div>
</section>
