<section style="background-color: #efefef">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="https://creativecommons.org/licenses/by/4.0/deed.id">
                    <h2 style="font-weight: bold; color: #6ca59a">CIPTA MEDIA</h2>
                    <h4 style="color: #6ca59a">CC BY 4.0</h4>
                </a>
            </div>
            <div class="col-md-3">
                <p style="margin-top: 20px" class="text-center">
                    <a style="margin-right: 20px" href="https://www.facebook.com/ciptamedia">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style="color: #6ca59a"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a style="margin-right: 20px" href="https://twitter.com/ciptamedia">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style="color: #6ca59a"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCYcchZfFm34fcFbP-XT5MSw">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style="color: #6ca59a"></i>
                            <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- script -->
<script src= "/static/js/bootstrap.min.js"></script>
<script src= "/static/js/material.min.js"></script>
<script src= "/static/js/material-kit.js"></script>
<script src= "/static/js/nouislider.min.js"></script>
<script src= "/static/js/countdown.js"></script>
