<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <a href="/index.html"><img src="/static/img/landing/logo-ekspresi-typo-w.png" width="200" class="img-responsive center-block" alt=""></a>
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="/index.html">Beranda</a>
            </li>
            <li><a href="/ciptamediaekspresi/tentang-ekspresi.html">Tentang</a></li>
            <li><a href="/ciptamediaekspresi/kategori-ekspresi.html">Kategori Hibah</a></li>
            <li><a href="/ciptamediaekspresi/timeline-ekspresi.html">Linimasa</a></li>
            <li><a href="/ciptamediaekspresi/juri-ekspresi.html">Dewan Juri & Panitia</a></li>
            <li><a href="/ciptamediaekspresi/syarat-ekspresi.html">Syarat & Ketentuan</a></li>
            <li><a href="/ciptamediaekspresi/faq-ekspresi.html">Pertanyaan Umum</a></li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
    </div>
</div>
