<div class="search-tool"
      style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px; opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control search-content" id="search-content" style="position: fixed; top: 60px" placeholder="Search Blog">

    <div style="position: fixed; top: 16px; right: 16px; z-index: 9999;">
        <img src="/search/img/cb-close.png" id="close-btn"/>
    </div>
</div>

<div style="position: fixed; right: 16px; bottom: 20px; z-index: 9999;">
    <img src="/search/img/cb-search.png"  id="search-btn"  title="Search"/>
</div>

<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/index.html" id="i18_title"><span data-i18n="website.title"><img src="\static\img\landing\logociptamedia.png" width="200" class="img-responsive" alt=""></span></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cipta Media Seluler
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            	{% for tag in site.data.CMS %}
                                    {% if page.title == tag.name %}
                                          <li class="active">
                                    {% else %}
                                          <li>
                                    {% endif %}
                                    <a class="page-scroll" href="{{ tag.href }}">{{ tag.name }}</a></li>
                              {% endfor %}
                            </ul>
                      	</li>  
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cipta Media Bersama
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            	{% for tag in site.data.CMB %}
                                    {% if page.title == tag.name %}
                                          <li class="active">
                                    {% else %}
                                          <li>
                                    {% endif %}
                                    <a class="page-scroll" href="{{ tag.href }}">{{ tag.name }}</a></li>
                              {% endfor %}
                            </ul>
                      	</li>
                        <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Daftar Permintaan Hibah<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                    <li class="active"><a class="page-scroll" href="/hibahcms-semua.html">Cipta Media Seluler</a></li>
                                    <li><a class="page-scroll" href="#">Cipta Media Bersama</a></li>
                              </ul>
                        </li>    
                    </ul>
                </div>
            </div>
        </nav>
</div>
