<!DOCTYPE html>
<html>
{% include index_head.html %}
  
<body id="page-top" class="landing-page">
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/index.html" id="i18_title"><span data-i18n="website.title"><img src="\static\img\landing\logociptamedia.png" width="200" class="img-responsive" alt=""></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                	<li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Proyek Terdahulu<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        	<li>
                            	<div class="row" style="width: 600px; padding-bottom: 10px;">
                                	<div class="col-sm-6">
                                    	<center><h3>Cipta Media Seluler</h3></center>
                                        <ul style="list-style:none;">
                                            <li><a href="/ciptamediaseluler/tentangcms.html">Tentang</a></li>
                                            <li><a href="#">Penerima Hibah</a></li>
                                            <li><a href="/ciptamediaseluler/hibahcms-semua.html">Pendaftar Hibah</a></li>
                                            <li><a href="#">Tim</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                    	<center><h3>Cipta Media Bersama</h3></center>
                                        <ul style="list-style:none;">
                                            <li><a href="/ciptamediabersama/tentangcmb.html">Tentang</a></li>
                                            <li><a href="#">Penerima Hibah</a></li>
                                            <li><a href="/ciptamediabersama/hibahcmb-semua.html">Pendaftar Hibah</a></li>
                                            <li><a href="#">Tim</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </li>
                    <li><a href="/blog/blog.html">Blog</a></li>    
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container-fluid">
                <div class="carousel-image wow zoomIn">
                    <!-- <img src="static/img/landing/kontak-header.jpg" alt="header"/> -->
                </div>
            </div>
            <div class="header-back one"></div>
        </div>
    </div>
</div>

{{ content }}
  
{% include footer.html %}
{% include footer_content.html %}

</body>
</html>
